{
    "ALLOWED_USER_NAMES": ["some_username"],
    "OPENAI_API_KEY": "****",
    "TELEGRAM_TOKEN": "****",
    "ANTHROPIC_API_KEY": "****",
    "OLLAMA_HOST": "http://127.0.0.1:11434",
    "REPLICATE_API_KEY": "",
    "YT_DL_DIR": "/var/data/uploads",
    "YT_DL_URL": "https://somehost.com/uploads",
    "SCHEDULES": 1,
    "USER_PERMISSIONS": {
        "default": {
            "is_admin": true,
            "can_use_tools": true,
            "can_use_ollama_llm_models": true,
            "can_use_replicate_models": true,
            "can_use_memory_tool": true,
            "exclude_replicate_models": []
        }
    }
}
