version: "3.7"

services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./uploads:/app/uploads
      - ./greek_words:/app/greek_words
      - ./greek_learned:/app/greek_learned
      - ./greek_stats:/app/greek_stats
      - ./greek_word_forms:/app/greek_word_forms
      - ./greek_audio_cache:/app/greek_audio_cache
    ports:
      - "8180:8180"
    entrypoint: ["sh", "/app/entrypoint.sh"]
